* {
    margin:0px;
    padding:0px;
    font-family:'Brush Script MT', cursive;
}

.background-img {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position:fixed;
    overflow: hidden;
    object-fit: cover;
    object-position: 0 50%;
}

.navbar-background {
    height: 35px;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.navbar-top {
    position: absolute;
    top:0;
    left:0;
}

h2 {
    color: white;
    font-size: 35px
}

.checkbox {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lines {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: transparent;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lines > div {
    width: 75%;
    height: 3px;
    background-color: white;
    z-index: 2;
    transition: all 1s ease;
    position: relative;
}

.lines > div:before,
.lines > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    height: 3px;
    width: 100%;
    background-color: white;
    transition: .5s;
}

.lines > div:after {
    top: 10px;
}

.toggler {
    width: 40px;
    height: 40px;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    margin-top: 5px;
    margin-left: 5px;
    position: fixed;
}

.toggler:checked + .menu-reveal {
    left: 60px;
}

.toggler:checked ~ .lines > div {
    transform: rotate(135deg)
}

.toggler:checked ~ .lines > div:before,
.toggler:checked ~ .lines > div:after {
    top: 0;
    transform: rotate(90deg)
}

.menu-reveal {
    display: flex;
    position: fixed;
    z-index: 0;
    left: -380px;
    top: 0;
    transition: 1s;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu-reveal h2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 200px;
}

.menu-reveal a {
    text-decoration: none;
}

.menu-reveal #active {
    text-decoration: underline;
    
}

.home {
    position: relative;
    z-index: 3;
}

.menu-reveal img {
    height: 40px;
    transform: scaleX(-1);
    margin-top: 5px; 
}

.splash-container {
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    top: 50px;
    overflow: auto;
    margin:auto;
}

.splash-content {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px 20px rgba(0, 0, 0, 0.4);
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    backdrop-filter: blur(2px);
    
}

::-webkit-scrollbar {
    color: transparent;
}

.splash-content * {
    margin: 10px;
}

h1 {
    color: white;
    font-weight: lighter;
    font-size: 10vw;
}

.splash-content p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    line-height: 50px;
}

.card-container {
    position:relative;
    left:0;
    width: 90vw;
    height: 93vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    top: 50px;
    overflow: auto;
    margin-left: 5vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-container a {
    text-decoration: none;
}

.card:hover {
    filter: brightness(135%);
}

.card {
    background-size:cover;
    height: 22vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    filter: brightness(95%);
    transition: .5s;
}

.card p {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.6);
}