.nav {
    background-color: white;
    overflow: hidden;
    background-size: contain;
}

.nav a {
    float: left;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color:gray;
    color: white;
}