h1 {
    font-size: 50px;
    color: blue;
    text-align: center;
    padding: 10px;
}

html {
    background-image: url("https://images.pexels.com/photos/672532/pexels-photo-672532.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: cover;
}