* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url(https://cdn.abcotvs.com/dip/images/3822653_072518-cc-ss-beach-water-img.jpg?w=1600);
    background-size: cover;
    overflow: hidden;
    height: 200px;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    position: relative;
	text-align: center;
}

.nav {
    background-color: white;
    overflow: hidden;
    background-size: contain;
    opacity: .80;
	margin-top: 19.2px;
}

.nav a {
    float: left;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color:gray;
    color: white;
}

h2 {
    margin: 1em;
}

.gridWrapper * {
    margin: 5%;
    outline: 5px solid burlywood;
}

.gridWrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 250px;
    place-items: center;
}

.gridPics {
    height: 100%;
    margin: 0px;
    
    
}

.gridTextBox {
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/san-diego-skyline-s-greg-panosian.jpg");
    margin: 0px;
    height: 100%
}

.gridText {
    background: rgba(255, 255, 255, 0.75);
    height: 59%;
    padding: .5em;
    top: 50%;
    font-size: 1.5vw;
}